extends ./layout.pug
block content
  section.section
    .container
      h2.section-title Solutions
      ul.list
        li(id="private-label") Private Label
        li(id="bulk") Bulk Export
        li(id="custom") Custom Formulation